/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Mar-2018, 10:49:22
    Author     : Etudiant
*/

*{
    box-sizing: border-box;
}
body{
    background-color: beige; 
    padding: 0;
    margin: 0;
}
h1{
    color: green;
}
#navbar{
    width: 80%;
    margin: 30px auto;
    background-color: activeborder;
    padding: 5px;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
li{
    margin-right: 20px;
    
}
a{
    font-size: 18pt;
    text-decoration: none;
}

#container{
    width: 80%;
    margin: 10px auto;
    padding: 5px;
    background-color: white;
    text-align: center;
}



input{
    display: inline-block;
    width: 50%;
    height: auto;
    margin-bottom: 10px;
    padding: 15px;
    background-color: yellow;
    border-radius: 10px;
    font-size: 16pt;
    
}

.registerButton{
    background-color: orange;
}

.resetbutton{
    background-color: orange;
}
footer{
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 200px;
    background-color: aliceblue;
}

.help{
    color: red;
    display: block;
}